<lint-module
    format="1"
    dir="C:\Users\piku\develop\hotela\dishrv5\android_wrapper\app"
    name=":app"
    type="APP"
    maven="android_wrapper:app:"
    agpVersion="8.3.1"
    buildFolder="build_debug"
    bootClassPath="C:\Users\dibya\AppData\Local\Android\Sdk\platforms\android-34\android.jar;C:\Users\dibya\AppData\Local\Android\Sdk\build-tools\34.0.0\core-lambda-stubs.jar"
    javaSourceLevel="17"
    compileTarget="android-34"
    neverShrinking="true">
  <lintOptions
      abortOnError="true"
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true"/>
  <variant name="release"/>
</lint-module>
